/* styles using by individualfeedback */
.path-mod-individualfeedback span.individualfeedback_info {
    font-weight: bold;
}

.path-mod-individualfeedback div.individualfeedback_is_dependent {
    background: #ddd;
}

.path-mod-individualfeedback span.individualfeedback_depend {
    color: #f00;
}

.path-mod-individualfeedback hr.individualfeedback_pagebreak {
    height: 4px;
    color: #aaa;
    background-color: #aaa;
    border: 0;
    margin: 0;
}

.path-mod-individualfeedback .drag_target_active {
    opacity: .25;
}

.path-mod-individualfeedback .drag_item_active {
    opacity: .5;
}

.path-mod-individualfeedback .individualfeedback_bar_image {
    height: 10px;
}

.path-mod-individualfeedback #analysis-form label {
    display: inline;
}

.path-mod-individualfeedback .templateslist td.cell.action,
.path-mod-individualfeedback .templateslist th.header.action {
    width: 10%;
}

.path-mod-individualfeedback .individualfeedback_form .itemactions {
    display: inline-block;
    margin: 0 .5em;
}

/* Analysis page */
.path-mod-individualfeedback table.analysis {
    width: 100%;
    border-top: 1px solid #aaa;
    margin-top: 10px;
}

.path-mod-individualfeedback table.analysis tr:first-child th {
    padding-top: 10px;
}

.path-mod-individualfeedback table.analysis tr:hover {
    background: #f5f5f5;
}

.path-mod-individualfeedback table.analysis td.singlevalue:before,
.path-mod-individualfeedback table.analysis td.optionname:before {
    content: '- ';
}

.path-mod-individualfeedback table.analysis.itemtype_textarea td {
    padding: 4px 0;
}

.path-mod-individualfeedback table.analysis tr.isempty {
    display: none;
}

/* Responses list */
.path-mod-individualfeedback #showentrytable td.cell.completed_timemodified,
.path-mod-individualfeedback #showentryanontable td.cell.random_response {
    font-weight: bold;
}

.path-mod-individualfeedback #showentrytable td.cell.userpic,
.path-mod-individualfeedback #showentrytable td.cell.deleteentry,
.path-mod-individualfeedback #showentryanontable td.cell.deleteentry {
    width: 10px;
}

/* Responses navigation */
.path-mod-individualfeedback .response_navigation {
    margin: .5em 0;
}

.path-mod-individualfeedback .response_navigation a {
    display: inline-block;
}

.path-mod-individualfeedback .response_navigation a.back_to_list {
    margin: auto;
    float: right;
    left: -50%;
    position: relative;
}

.path-mod-individualfeedback .response_navigation .prev_response:before {
    /*rtl:raw:
    content: ' ► ';
    */
    /*rtl:remove*/
    content: ' ◄ ';
}

.path-mod-individualfeedback .response_navigation .next_response:after {
    /*rtl:raw:
    content: ' ◄ ';
    */
    /*rtl:remove*/
    content: ' ► ';
}

.path-mod-individualfeedback .response_navigation .next_response {
    float: right;
}

.path-mod-individualfeedback .response_navigation .prev_response {
    float: left;
}

div.individualfeedback_questiongroup_start {
    border-top: 1px solid #00a8d5;
    border-bottom: 1px solid #00a8d5;
    margin-bottom: 30px;
}

div.movequestiongroup {
    cursor: move;
}

div.subtabs_placeholder {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
}

div.questiongroup_analysed {
    border-top: 1px solid #00a8d5;
    border-bottom: 1px solid #00a8d5;
    margin-top: 40px;
    margin-bottom: 20px;
}

select.questiongroup_select {
    margin-left: 20px;
}

.clear {
    clear: both;
}

.chart-table-data {
    display: none;
}

.individualfeedbackprint {
    padding-top: 20px !important;
}

.individualfeedbackprint .continuebutton:first-child {
    margin-bottom: 20px;
}


#page-mod-individualfeedback-print .fitemtitle *,
#page-mod-individualfeedback-complete .fitemtitle *,
#page-mod-individualfeedback-edit .fitemtitle *,
#page-mod-individualfeedback-use_templ .fitemtitle * {
  font-weight: 550;
}
#page-mod-individualfeedback-print .felement.fgroup label,
#page-mod-individualfeedback-complete .felement.fgroup label,
#page-mod-individualfeedback-edit .felement.fgroup label,
#page-mod-individualfeedback-use_templ .felement.fgroup label {
  font-weight: normal;
}
#page-mod-individualfeedback-print .itemhandle,
#page-mod-individualfeedback-complete .itemhandle,
#page-mod-individualfeedback-edit .itemhandle,
#page-mod-individualfeedback-use_templ .itemhandle {
  padding-left: 24px;
}
#page-mod-individualfeedback-print .mform .fitem div.fitemtitle,
#page-mod-individualfeedback-complete .mform .fitem div.fitemtitle,
#page-mod-individualfeedback-edit .mform .fitem div.fitemtitle,
#page-mod-individualfeedback-use_templ .mform .fitem div.fitemtitle {
  width: 100%;
}
#page-mod-individualfeedback-print .mform .fitem div.fitemtitle > *,
#page-mod-individualfeedback-complete .mform .fitem div.fitemtitle > *,
#page-mod-individualfeedback-edit .mform .fitem div.fitemtitle > *,
#page-mod-individualfeedback-use_templ .mform .fitem div.fitemtitle > * {
  float: left;
}
#page-mod-individualfeedback-print .mform .fitem div.fitemtitle,
#page-mod-individualfeedback-complete .mform .fitem div.fitemtitle,
#page-mod-individualfeedback-edit .mform .fitem div.fitemtitle,
#page-mod-individualfeedback-use_templ .mform .fitem div.fitemtitle {
  text-align: left;
}
#page-mod-individualfeedback-print .mform .fitem div.felement,
#page-mod-individualfeedback-print .mform .fitem fieldset.felement,
#page-mod-individualfeedback-complete .mform .fitem div.felement,
#page-mod-individualfeedback-complete .mform .fitem fieldset.felement,
#page-mod-individualfeedback-edit .mform .fitem div.felement,
#page-mod-individualfeedback-edit .mform .fitem fieldset.felement,
#page-mod-individualfeedback-use_templ .mform .fitem div.felement,
#page-mod-individualfeedback-use_templ .mform .fitem fieldset.felement {
  padding-left: 60px;
  width: 100%;
}
#page-mod-individualfeedback-print .mform .fitem fieldset.felement.fgroup > span,
#page-mod-individualfeedback-complete .mform .fitem fieldset.felement.fgroup > span,
#page-mod-individualfeedback-edit .mform .fitem fieldset.felement.fgroup > span,
#page-mod-individualfeedback-use_templ .mform .fitem fieldset.felement.fgroup > span {
  padding-right: 15px;
}
#page-mod-individualfeedback-print .h3.individualfeedback_questiongroup,
#page-mod-individualfeedback-complete .h3.individualfeedback_questiongroup,
#page-mod-individualfeedback-edit .h3.individualfeedback_questiongroup,
#page-mod-individualfeedback-use_templ .h3.individualfeedback_questiongroup,
#page-mod-individualfeedback-analysis .h3 {
  border-bottom: 2px solid #ff6600;
  line-height: 2;
}
#page-mod-individualfeedback-analysis th {
    font-weight: normal;
}

/*changes for boost template*/
#page-mod-individualfeedback-print div.col-md-3,
#page-mod-individualfeedback-complete div.col-md-3,
#page-mod-individualfeedback-edit div.col-md-3,
#page-mod-individualfeedback-use_templ div.col-md-3,
#page-mod-individualfeedback-analysis div.col-md-3 {
    width: 100%;
}

#page-mod-individualfeedback-edit div.action-menu,
#page-mod-individualfeedback-analysis div.action-menu {
    text-align: right;
}

